<template>
    <div  class="goodsLsitItem" @click="goodItemClick">
       <img :src="showImg" alt="" @load="imgLoaded">
        <div class="goods-info">
          <p>{{goodsItemData.title}}</p>
          <span class="price">{{goodsItemData.price}}</span>
          <span class="cfav">{{goodsItemData.cfav}}</span>
        </div>  
    </div>
</template>
<script>
export default {
    props:{
        goodsItemData:{
        type:Object,
        default(){
            return {}
        }
        }
    },
    methods:{
        imgLoaded(){
           this.$store.commit('imgLsitLoad',1)
        },
        goodItemClick(){
            this.$router.push({
                path:'/detail',
                query: {id:this.goodsItemData.iid}
            })
        }
    },
    computed:{
        showImg(){
            return this.goodsItemData.image || this.goodsItemData.show.img
        }
    }
}
</script>
<style scoped>
   .goodsLsitItem{
      padding-bottom: 40px;
       /* 子绝福相 */
      position: relative;
      width: 48%;
      /* margin-left: 1%;
      margin-right: 1%; */
   }
   .goodsLsitItem img{
     width: 100%;
     border-radius: 5px;
   }
   .goods-info{
      font-size: 12px;
      position:absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      /* 超出范围隐藏 */
      overflow: hidden;
      text-align: center;
  }
  .goods-info p{
      overflow: hidden;
      /* 超出的字用省略号表式 */
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 3px;
  }
  .goods-info .price{
      color: var(--color-high-text);
      margin-right: 20px;
  }

  .goods-info .cfav{
     position: relative;
  }
  .goods-info .cfav::before{
      content: '';
      position: absolute;
      left:-15px;
      top:-1px;
      width: 14px;
      height: 14px;
      background: url("~@/assets/img/common/collect.svg") 0 0/14px 14px;
  }
</style>