<template>
    <div class="goodsList">
    <GoodsListItem  v-for="(item,index) in goodsData" :key="index" :goodsItemData="item" class="goodsListItem"></GoodsListItem>  
    </div>
</template>
<script>
import GoodsListItem from './GoodsLsitItem'

export default {
    props:{
      goodsData:{
        type:Array,
        default(){
            return []
        }
      }
    },
    components:{
        GoodsListItem
    }
}
</script>
<style scoped>
    .goodsList{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    /* .goodsListItem{
        flex:1;
    } */
</style>