<template>
    <div id="tabBar">
        <tabbarItem v-for="item in tabBarItemData" :key="item" :itemPath="item.path" :activeColor="txtActiveColor">
            <template v-slot:slotIcon>         
               <img :src="item.chSrc" alt="">
            </template>
            <template v-slot:slotIconActive>         
               <img :src="item.chSrc1" alt="">
            </template>
             <template v-slot:slotText>               
                {{item.text}}
             </template>
        </tabbarItem>
    </div>
</template>
<script>
// import tabbarItem from './tabBarItem.vue'
import tabbarItem from '@/components/common/tabBar/tabBarItem.vue'
export default {
    data(){
        return{
            tabBarItemData:[
              {
                chSrc:require("@/assets/img/tabBar/home.png"),
                chSrc1:require("@/assets/img/tabBar/home1.png"),
                text:"首页",
                path:'/home'
              },
              {
                chSrc:require('@/assets/img/tabBar/category.png'),
                chSrc1:require('@/assets/img/tabBar/category1.png'),
                text:"分类",
                path:'/category'
              },
              {
                chSrc:require('@/assets/img/tabBar/shopingcart.png'),
                chSrc1:require('@/assets/img/tabBar/shopingcart1.png'),
                text:"购物车",
                path:'/shopingCart'
              },
              {
                chSrc:require('@/assets/img/tabBar/profile.png'),
                chSrc1:require('@/assets/img/tabBar/profile1.png'),
                text:"我的",
                path:'/profile'
              }
            ],
            txtActiveColor:"#d81e06",
        }
    },
    components:{tabbarItem}
}
</script>
<style>
    #tabBar{
       display: flex;
       background-color: #f6f6f6;

       position: fixed;
       left: 0;
       right: 0;
       bottom: 0;
       box-shadow: 0 -1px 1px rgba(100, 100,100, 0.3);
       z-index: 10;
    }
</style>