<template>
    <div class="tab-bar-item" @click="changeRouter">   
        <div v-if="isActive">
          <slot name="slotIconActive"></slot>
        </div>
         <div v-else>
          <slot name="slotIcon"></slot>
        </div>
        <!-- 颜色未封装 -->
        <!-- <div :class="{'active':isActive}"> 
          <slot name="slotText"></slot>
        </div> -->
        <!-- 通过绑定样式，封装颜色，显示父组件传递的颜色 -->
        <div :style="txtActiveColor"> 
          <slot name="slotText"></slot>
        </div>
    </div>
</template>

<script>
export default {
    name:"TabBarItem",
    data(){
        return{
        //  isActive:true
        }
    },
    props:{
       itemPath:String,
       activeColor:{
           type:String,
           default:"blue"
       }
    },
    methods:{
        changeRouter(){
            this.$router.push({path:this.itemPath})
        }
    },
    computed:{
       isActive(){
           return this.$route.path.indexOf(this.itemPath) !=-1
       },
       txtActiveColor(){
          return this.isActive? {color:this.activeColor} : {}
       }
    }
  
}
</script>
<style>
    .tab-bar-item{
        flex:1;
        text-align: center;
        height: 49px;
        font-size: 14px;
    }
    .tab-bar-item img{
       height: 24px;
       width: 24px;
       margin-top: 3px;
       vertical-align: middle;

    }
    .active{
        color: red;
    }

</style>