<template>
    <div id="shopingCart">
        <NavBar class="shopCartNavBar">
            <template v-slot:middle>
                <div>
                  购物车({{productNums}})
                </div>
            </template>
        </NavBar>
        <Scroll class="contentCart" ref="dtScroll" :pull-up-load="true" @scroll="GetScrollPos">
           <Carlist class="cartlist"></Carlist>
       </Scroll>
        <CarBottomBar class="CarBottonBar"></CarBottomBar>
    </div>
</template>
<script>
import NavBar from '@/components/common/navBar/NavBar.vue'
import Scroll from '@/components/common/scroll/Scroll.vue'
import CarBottomBar from './childCommp/CartBottomBar'
import Carlist from './childCommp/CartLsit'
import {mapGetters} from 'vuex'

export default {
    name:'shoppingCart',
    components:{NavBar,Carlist,Scroll,CarBottomBar},
    computed:{
        // 使用对象展开运算符将getter混入computed对象中
        ...mapGetters({
           productNums:'productNum',

        })
    },
    methods:{
         GetScrollPos(pos)
        { 

        }
    },
}
</script>
<style scoped>
    #shopingCart{
       width: 100%;
       height:calc(100vh - 44px);
    }
    .shopCartNavBar{
        background-color: var(--color-tint);
        color:#fff;
        font-size: 18px;
    }
    .contentCart{
        height:calc(100% - 49px - 40px);
        overflow: hidden;
    }
    .cartlist{
        
    }
    .CarBottonBar
    {
      position:absolute;
      bottom: 49px;
    }
</style>