<template>
    <div>
        <h2>分类</h2>
        <ul>
            <li>蔬菜</li>
            <li>水果</li>
            <li>饮品</li>
            <li>烟酒</li>
            <li>日用</li>
        </ul>
    </div>
</template>