<template>
    <div class="tabControl"> 
        <div class="tabItem" v-for="(item,index) in titles" :key="index" :class="{active:index === currentIndex}" @click="ClickTab(index)">
            <span>{{item}}</span>
        </div>
    </div>
</template>
<script>
export default {
    data(){
      return{
         currentIndex:0,
      }  
    },
    props:{
        titles:{
            type:Array,
            default(){
                return [];
            }
        }
    },
    methods:{
      ClickTab(index){
          this.currentIndex = index;
          this.$emit("tabClick",index)
      }
    }
}
</script>
<style scoped>
    .tabControl{
        display: flex;
        height: 40px;
        line-height: 40px;
    }
    .tabItem{
        flex:1;
        text-align: center;
        /* margin-top: 10px; */
      
    }
    .tabItem span{
        padding:5px;
        font-size: 14px;
    }
    .active {
        color: #ff5777;
    }
    .active span{
      border-bottom: solid 3px #ff5777;
    }


</style>