@import "./normalize.css";

/* :root :获取根元素的html */
 :root {
     --color-text:#666;
     --color-high-text:#ff5777;
     --color-tint:#ff8198;
     --color-background:#fff;
     --font-size:14px;
     --line-height:1.5
 }

 *,
 *::before,
 *::after{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body{
     font-family:"Helvertica Neue",Arial, Helvetica, sans-serif,
     "Microsoft YaHei","微软雅黑","PingFang SC","Hiragino Sans GB";
     /* 禁止用户鼠标在页面上选中文字、图片等 */
     user-select: none; 
     /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调解 */
     -webkit-tap-highlight-color: transparent;
     background: var(--color-background);
     color: var(--color-text);
     width: 100vw;
 }

 a{
     color:var(--color-text);
     text-decoration: none;
 }
 .clear-fix::after{
     clear: both;
     content:'';
     display: block;
     width: 0;
     height: 0;
     visibility: hidden;
 }
 .clear-fix{
     zoom: 1;
 }
 .left{
     float: left;
 }
 .right{
     float: right;
 }