<template>
    <div id="bottomBar">
        <div class="Select-all" @click="SelectkAll">
            <CheckButton class="select-icon" :value="getSelectAllValue"></CheckButton>
            <span>全选</span>
        </div>
        <div class="pay-money">
          合计：<div>{{allPay}}</div>
        </div>
        <div class="Balance">去结算:({{allCount}})</div>
    </div>
</template>
<script>
import CheckButton from './CheckBtn'
import {mapGetters} from 'vuex'
export default {
    components:{CheckButton},
    computed:{
        ...mapGetters({
           productNum:'productNum',
           cartProdutInfo:'cartProdutInfo'
        }),
        allPay(){
         let allCost = 0.00;
          for(let item of this.cartProdutInfo){
              if(item.checked){
                allCost += parseFloat(item.price*item.count);
              }
          }
            return allCost.toFixed(2); 
            
        },
        allCount(){
          let allCount = 0;
          for(let item of this.cartProdutInfo){
              if(item.checked){
                allCount +=1*item.count;
              }
          }
            return allCount.toFixed(0); 
        },
        getSelectAllValue(){
            let retV = false;
            if(this.cartProdutInfo.length >0)
            {
              retV = !this.cartProdutInfo.find(item =>{
               return item.checked === false;
              });
            }
            return retV;
        }
    },
    methods:{
        SelectkAll(){
            if(this.getSelectAllValue)
            {
                this.cartProdutInfo.forEach(element => {
                    element.checked = false;
                });
                // this.$store.commit("selectAll",false) 
            }
            else
            {
                this.cartProdutInfo.forEach(element => {
                    element.checked = true;
                });
                // this.$store.commit("selectAll",true) 
            }
          }
        }
}
</script>
<style scoped>
   #bottomBar{
    width: 100%;
     height: 40px;
     border: 1px solid rgba(0,0,0, 0.1);
     background-color:rgb(243, 240, 240);
     display: flex;
   }
  .Select-all{
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .Select-all .select-icon{
      margin: 10px 10px;
  }
  .Select-all span{
      font-size: 14px;
  }
  .pay-money{
      display: flex;
      margin:10px 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex:1
  }
  .Balance{
     width: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: tomato;
     color: #fff;
  }
</style>