<template>
    <div class="cartLsit">
       <CartlistItme v-for="(item,index) in cartProdutInfo" :key="index" :productItem="item"></CartlistItme>
    </div>
</template>
<script>
import {mapGetters} from 'vuex'
import CartlistItme from './CartLsitItem'
export default {
    computed:{
        ...mapGetters({
            cartProdutInfo:'cartProdutInfo',
        })
    },
    components:{CartlistItme},

}
</script>