<template>
    <div class="carlistItem">
      <div class="item-selector">
          <CheckButton @checkBtnClick="chenckChange" :value="productItem.checked" class="cheBtn"></CheckButton>
      </div>
      <div class="item_img">
          <img :src="productItem.image" alt="商品图片">
      </div>
      <div class="item-info">
           <div class="itme-title">{{productItem.title}}</div>
           <div class="item-desc">商品描述：{{productItem.desc}}</div>
           <div class="info-bottom">
               <div class="item-price left">￥{{productItem.price}}</div>
               <div class="item-count right">
                   <div class="opera">-</div>
                   <div class="item-countNum">{{productItem.count}}</div>
                   <div class="opera">+</div>
                </div> 
           </div>
      </div>
    </div>
</template>
<script>
import CheckButton from './CheckBtn'
export default {
    props:{
        productItem:{
            type:Object,
            default(){
                return {}
            }
        }
    },
    components:{CheckButton,},
    methods:{
        chenckChange(){
            this.productItem.checked = !this.productItem.checked;
        }
    }
}
</script>
<style scoped>
     .carlistItem{
         width: 100%;
         display:flex;
         font-size: 0;
         padding: 5px;
         border-bottom: 1px solid #ccc;
     }
     .item-selector {
         width: 20px;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-right: 5px;
         
     }
     .itme-title,.item-desc{
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
     }
     .item_img img{
         width: 80px;
         height: 100px;
         display:block;
         border-radius: 5px;
     }
     .item-info {
         font-size: 17px;
         color: #333;
         padding:5px 10px;
         position: relative;
         overflow: hidden;
     }
     .item-info .item-desc{
         font-size: 14px;
         color: #666;
         margin-top: 15px;
     }
     .info-bottom{
         display: flex;
         margin-top: 10px;
         position: absolute;
         bottom: 10px;
         left: 10px;
         right: 10px;
     }
     .info-bottom .item-price{
         color: orangered;
     }
     .item-count{
         display: flex;
         position: absolute;
         right: 10px;
         align-items: center;
     }
     .item-count .opera{
        margin: 0 5px;
        text-align: center;
        vertical-align: middle;
     }
     .item-countNum{
         width: 30px;
         height: 15px;
         background-color: #ccc;
         text-align: center;
         line-height: 15px;
         font-size: 10px;

     }
</style>