<template>
    <div class="toast" v-show="showV"> 
        <div>
          {{msg}}
        </div>
       
    </div>
</template>
<script>
export default {
    name:'Toast',
    props:{
        msg:{
          type:String,
          default:'',
                
        },
        showV:{
            type:Boolean,
            // default:false,
        }
    }
}
</script>
<style scoped>
  .toast{
      width: 150px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      position: fixed;
      color: #fff;
      text-align: center;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      background-color:rgba(0, 0, 0, 0.5) ;
      /* opacity: 0.5; */
      border-radius: 10%;
      z-index:99;
  }
    
</style>