<template>
  <div>
    <button @click="GetData">获取数据</button>
    <h2>{{$store.state.myInfo}}</h2>
    <button @click="AddProp">给Store添加属性</button>
    <hr>
    <button @click="concurrentRequest">axios并发请求方法</button>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data(){
    return{}
  },
  methods:{
    GetData(){
      axios.get('http://123.207.32.32:8000/home/multidata').then(res=> {console.log(res);}).catch(err=>{
        console.log(err);
      });
    },
    AddProp(){
      this.$store.commit("AddProp",{height:1.85})
    },
    concurrentRequest(){
      axios.all([axios('http://123.207.32.32:8000/home/multidata'),
      axios({
         url:'http://123.207.32.32:8000/home/multidata',
         params:{
           type:'sell',
           page:3
         }
      }
      )
      ]).then(res => {
        console.log(res)
      })
    }
  }
  
}
</script>