<template>
    <div class="wrapper" ref="wrapper">
        <div class="content">
         <slot></slot>   
         </div>        
    </div>
</template>
<script>
import BScroll from 'better-scroll'
export default {
    props:{
        //BetterScroll相关参数
        // 定位方式
       probeType:{
           type:Number,
           default:1
       },
       //    
       goodsdata:{
           type:Array,
           default:()=>{
               return []
           }
       },
       //下来加载方式    
       pullUpLoad:{
           type:Boolean,
           default:true
       }
    },
    data(){
        return{
            scroll:null,
        }
    },
    mounted(){
         
         //挂载0.02秒之后，初始化BScroll对象 
          setTimeout(this.__initScroll,20)
        // this.scroll = new BScroll(this.$refs.wrapper,{
        //    probeType:3,
        //    pullUpLoad:true,
        //    click:true,
        // })
        // this.scroll.on('scroll',position=>{
            
        // })
        // this.scroll.on('pullingUp',()=>{
        //     this.$emit('pullingUpOpera')
        // })
    },
    methods:{
        // 1.初始化BScroll对象
           __initScroll(){
           if(!this.$refs.wrapper) return;
           this.scroll =new BScroll(this.$refs.wrapper,{
               probeType:this.probeType,
               click:true,
               pullUpLoad:this.pullUpLoad,
           })
           //2.将监听事件回调
            this.scroll.on('scroll',pos=>{
              this.$emit('scroll',pos)
            })
            //3.监听上拉到底部
            this.scroll.on('pullingUp',()=>{
            this.$emit('pullingUpOpera')
            })
        },
        refresh()
        {
             this.scroll && this.scroll.refresh && this.scroll.refresh()
        },
        finishPullUp(){
            this.scroll && this.scroll.finishPullUp && this.scroll.finishPullUp();
        },
       
        scrollTo(x, y, time) {
		    this.scroll && this.scroll.scrollTo && this.scroll.scrollTo(x, y, time)
      },
      getY()
      {
          return this.scroll.y ? this.scroll.y : 0;
      }
    },
    watch:{
        //监听数据变化，如果发生变化0.02秒后刷新,
        // 只有data的类型发生变化时，才会响应监测，只是往data中push数据的话，不会响应
        goodsdata(){
            // console.log("修改数据类型")
            setTimeout(this.refresh, 20);
        }
    }
}
</script>
<style scoped>
    
</style>