<template>
    <div class="navbar">
        <div class="left"><slot name="left"></slot></div> 
        <div class="middle"><slot name="middle"></slot></div> 
        <div class="right"><slot name="right"></slot></div> 
    </div>
</template>
<script>
export default {
    
}
</script> 
<style scoped>
   .navbar{
       display: flex;
       height: 44px;
       line-height: 44px;
       text-align: center;
       box-shadow:0 1px 1px rgba(100,100,100,0.2) ;
   }
   .left,.right{
       width: 60px;
       /* background-color: aqua; */
   }
   .middle{
       flex:1;
       /* background-color: brown; */
   }
</style>