<template>
    <div class="featureImg">
        <img src="@/assets/img/home/feature.jpg" alt="">
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
    .featureImg{
        width: 100%;
        padding: 10px 0 10px;
        border-bottom: solid 10px #eee;
        text-align: center;
    }
    .featureImg img{
        width: 100%;
        /* height: 300px; */
    }
</style>