<template>
    <div>
         <Swiper>
           <SwiperItem v-for="(item) in banner" :key="item">
                <a :href="item.link">
                 <img :src="item.image" alt="" @load="imgLoad">
                </a>
           </SwiperItem>
        </Swiper>
    </div>
</template>
<script>
import {Swiper,SwiperItem} from '@/components/common/swiper'
export default {
    props:{
      banner:{
       type:Array,
       default(){
           return []
       },
       required:true
      } 
    },
    data(){
      return{
        imgLoaded:false,
      }
    },
    components:{Swiper,SwiperItem},
    methods:{
        startTimer(){
            this.$refs.Swiper && this.$refs.Swiper.startTimer()
        },
        stopTimer() {
        this.$refs.swiper && this.$refs.swiper.stopTimer()
      },
      imgLoad(){
        if(!this.imgLoaded)
        {
          this.imgLoaded = true;
          this.$emit("swiperImgLoag");
        }
        
      }
    }
}
</script>
<style>

</style>