<template>
    <div class="recommend">
        <div v-for="(item,index) in recommendData" :key="index" class="recommendItem">
            <a :href="item.link">
                <img :src="item.image" alt="">
                <div>{{item.title}}</div>
            </a>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{}
    },
    props:{
        recommendData:{
            type:Array,
            default(){
                return []
            },
        }
    }
}
</script>
<style scoped>
    .recommend{
        display: flex;
        width: 100%;
        padding: 10px 0 10px;
        border-bottom: solid 10px #eee;
    }
    .recommendItem{
        flex:1;
        font-size: 12px;
        text-align: center;
    }
    .recommendItem img{
        width: 85px;
        height: 85px;
        margin-bottom: 10px;
    }
</style>