<template>
  <div class="back-top" @click="topClick">
    <slot></slot>
  </div>
</template>

<script>
	export default {
		name: "BackTop",
    methods: {
		  topClick: function () {
        this.$emit('backTop');
      }
    }
	}
</script>

<style >
  .back-top img {
    width: 40px;
    height: 40px;
  }
</style>
