<template>
    <div id="detail">
        <DetailNavBar ref="DetailNavBar" class="dtNavBar" @tabClick="tabClick"></DetailNavBar>
        <scroll class="content" ref="dtScroll" :pull-up-load="true" @scroll="GetScrollPos">
           <detailSwiper ref="detailSwiper" :top-images="topImgs"  @detailSwiperImgLoad="swiperImgLoad" ></detailSwiper>
           <DetailBaseInfo ref="baseInfo" :goods="goods"></DetailBaseInfo>
           <ShopInfo ref="shopInfo" :shop="shop"></ShopInfo>
           <DetailGoodsInfo ref="goodsInfo" :detailInfo="goodsInfo" @imageLoaded="swiperImgLoad"></DetailGoodsInfo>
           <DetailParamsInfo ref="ParamsInfo" :detailParams="paramInfo"></DetailParamsInfo>
           <detailCommentInfo ref="CommentInfo" :commentInfo="commentInfo"></detailCommentInfo>
           <goodsList ref="recommendInfo" :goodsData="recommendData"></goodsList>
        </scroll>
        <back-top @backTop="backTop" class="back-top" v-show="showBackTop">
         <img src="@/assets/img/common/top.png" alt="">
        </back-top>
        <detailBottomBar class="bottomBar" @addToCart="addToCart"></detailBottomBar>
        <Toast :msg="msg" :showV="isShow"></Toast>
    </div>
</template>
<script>
import DetailNavBar from './childComps/detailNavBar'
import {GetDetailData,Goods,Shop,GoodsParam,getRecommendData} from '@/network/detailRequest.js'
import detailSwiper from './childComps/detaiSwiper'
import DetailBaseInfo from './childComps/DetailBaseInfo'
import DetailGoodsInfo from './childComps/DetailGoodsInfo'
import DetailParamsInfo from './childComps/DetailParamsInfo'
import ShopInfo from './childComps/shopInfo.vue'
import BackTop from '@/components/content/backTop/BackTop.vue'
import scroll from '@/components/common/scroll/Scroll.vue'
import Toast from '@/components/common/toast/Toast.vue'
import detailCommentInfo from './childComps/DetailCommentInfo'
import detailBottomBar from './childComps/DetaiBottomBar'
import goodsList from '@/components/content/GoodsLsit/GoodsList.vue'
import {mapActions} from 'vuex'

import {NEW, POP, SELL, BACKTOP_DISTANCE} from "@/common/const.js"
export default {
    data(){
        return{
            id:'',
            data:null,
            topImgs:[],
            goods:{},
            shop:{},
            goodsInfo:{},
            paramInfo:{},
            // goodsInfoYValue:0,
            showBackTop:false,
            commentInfo:{},
            recommendData:[],
            themeoffsetTopY:[],
            currentInedx:0,
            msg:'',
            isShow:false,
        }
    },
    components:{DetailNavBar,detailSwiper,DetailBaseInfo,ShopInfo,scroll,DetailGoodsInfo,
                  DetailParamsInfo,BackTop,detailCommentInfo,goodsList,detailBottomBar,Toast},
    created(){
       this.id = this.$route.query.id;
       GetDetailData(this.id).then(res =>{
      
          this.data = res.result;
          this.topImgs = this.data.itemInfo.topImages;
          this.goods = new Goods(this.data.itemInfo,this.data.columns,this.data.shopInfo.services);
          this.shop = new Shop(this.data.shopInfo);
        //   console.log(this.shop);
        this.goodsInfo = this.data.detailInfo; 
        // 获取参数信息
        //  console.log(this.data.itemParams);
         this.paramInfo =new GoodsParam(this.data.itemParams.info,this.data.itemParams.rule)
        //  console.log(this.paramInfo)

        // 获取评论信息
        if(this.data.cRate !== 0 && this.data.cRate)
        {
            this.commentInfo =this.data.rate.list[0];
            // console.log(this.commentInfo);
        }
       });

    //获取推荐数据
    getRecommendData().then(res =>{
        // console.log(res);
        this.recommendData =res.data.list;
    })    
    },
    methods:{
      ...mapActions({
        addProductAction1:'addProductAction',
      }),
      swiperImgLoad(){
         this.$refs.dtScroll.refresh();
         this.themeoffsetTopY =[];
         this.themeoffsetTopY.push(0);
         this.themeoffsetTopY.push(this.$refs.ParamsInfo.$el.offsetTop);
         this.themeoffsetTopY.push(this.$refs.CommentInfo.$el.offsetTop);
         this.themeoffsetTopY.push(this.$refs.recommendInfo.$el.offsetTop);
        // console.log(this.themeoffsetTopY);
      },
      GetScrollPos(pos)
      {

          //1.决定backTop是否显示
          this.showBackTop = pos.y < -BACKTOP_DISTANCE
          for(let i=0;i<this.themeoffsetTopY.length;i++)
          {
              if(this.currentInedx !== i)
              {
                 if(i<3)
               {
                 if( -pos.y >= this.themeoffsetTopY[i] && -pos.y < this.themeoffsetTopY[i+1])
                 {
                  if( i !== this.$refs.DetailNavBar.currentIndex)
                  {
                      this.$refs.DetailNavBar.currentIndex =i;
                      break;
                  }
                }
               }
              else
              {
                  if( -pos.y >= this.themeoffsetTopY[i])
                  {
                     if( i !== this.$refs.DetailNavBar.currentIndex)
                    {
                      this.$refs.DetailNavBar.currentIndex =i;
                      break;
                    } 
                  }
               }
              }
          }
         
      },
      backTop(){
      this.$refs.dtScroll.scrollTo(0, 0, 300)
      },  
      tabClick(index){
        //   console.log(index);
          this.$refs.dtScroll.scrollTo(0, -this.themeoffsetTopY[index], 0)
      },
      addToCart(){
        let productInfo ={};
        productInfo.id = this.id;
        productInfo.checked = true;
        productInfo.image = this.topImgs[0];
        productInfo.title = this.goods.title;
        productInfo.count =1;
        productInfo.desc =this.goods.desc;
        productInfo.price =this.goods.nowPrice;

        // this.$store.dispatch("addProductAction",productInfo).then(res=>{
        //   console.log(res);
        // })
          this.addProductAction1(productInfo).then(res =>{
            console.log(res);
            this.msg = res;
            this.isShow =true;
            setTimeout(()=>{
               this.msg = '';
               this.isShow =false;
            },2000)
            // console.log(this.$toastCom);
            // this.$toastCom.$el.show(res,2000);
          })
      }
    }
}
</script>
<style scoped>
     #detail{
        padding-top: 44px;
        position:relative;
        height: 100vh;
        background-color: #fff;
        z-index: 10;
     }
    .dtNavBar{
        background-color:#fff;
        position:fixed;
        top:0;
        color:black;
        z-index: 9;
    }
    .content{
        /* 减号左右要加空格 */
        height:calc(100% - 44px - 49px);
        overflow: hidden;
        position: absolute;
        top: 44px;
        bottom: 49px;
        left: 0;
        right: 0;
        background-color: #fff;
    }
    .back-top {
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 11;
   }
</style>