<template>
     <div class="detailNavBar" >
        <div class="navLeft" @click="backClick"><img src="@/assets/img/detail/左箭头.png" alt=""></div>
        <div class="navRight">
          <div v-for="(item,index) in rightNavValue" :key="index" class="navRightItem" :class="{active:currentIndex === index}" @click="choiceClick(index)">{{item}}</div>
        </div>
     </div>         
</template>
<script>
export default {
    data(){
        return {
           rightNavValue:["商品","参数","评论","推荐"],
           currentIndex:0,
        }
    },
    methods:{
        backClick(){
            this.$router.back();
        },
        choiceClick(index){
            this.currentIndex = index;
            this.$emit("tabClick",index)
        }
    },
    computed:{
        detaiIndex(){
            return this.$store.state.detailTabIndex;
        }
    },
    watch:{
        detaiIndex(value){
           this.currentIndex = value;
       }
    }

}
</script>
<style scoped>
    .detailNavBar{
        display: flex;
        width:100%;
        box-shadow:0 1px 1px  rgba(100,100,100,0.2) 
    }
    .navLeft{
        width: 10%;
        height: 44px;
        line-height: 44px;
        
    }
    .navRight{
        display: flex;
        height: 44px;
        line-height: 44px;
        width: 90%;
        padding:0 20px;
    }
    .navRight .navRightItem{
      flex:1;
      text-align: center;
      font-size: 14px;
    }
    .navRightItem .active{
        color:tomato;
    }
    .navLeft img{
        margin-left: 10px;
        display: inline-block;
        width: 25px;
        height: 20px;
        vertical-align:middle;
        text-align: center;
    } 
</style>