<template>
    <div>
        <Swiper class="detailSwiper" v-if="topImages.length">
            <SwiperItem  class="dtSwiperItem" v-for="(item,index) in topImages" :key="index" >
                <img :src="item" alt="" @load="swiperImgLoad">
            </SwiperItem>
        </Swiper>
    </div>
</template>
<script>
import {Swiper,SwiperItem} from '@/components/common/swiper'
export default {
   
   components:{Swiper,SwiperItem},
   props:{
       topImages:{
           type:Array,
           Default:[]
       }
   },
   data(){
       return {
           imgLoad:false,
       }
   },
   methods:{
      swiperImgLoad(){
           if(!this.imgLoad){
               this.imgLoad =true;
              this.$emit("detailSwiperImgLoad")
           }
          
       }
   }
    
}
</script>

<style scoped>
    .detailSwiper{
        height: 500px;
    }
    .dtSwiperItem{
        overflow: hidden;
    }
</style>