<template>
    <div class="param-info" v-if="Object.keys(detailParams) !== 0">
        <table v-for="(item,index) in detailParams.sizes" 
          :key="index"   class="info-size" >
           <tr v-for="(subItem,subIndex) in item" :key="subIndex">
             <td v-for="(tdItem,indexz) in subItem" :key="indexz">{{tdItem}}</td>
           </tr>
        </table>
        <table class="info-param">
            <tr v-for="(item,index) in detailParams.infos" :key="index">
               <td class="info-param-key">{{item.key}}</td>
               <td class="info-param-value">{{item.value}}</td>
            </tr>            
        </table>
        <div class="info-img" v-if="detailParams.image !==''"> 
            <img :src="detailParams.image" alt="">
        </div>
    </div>
</template>
<script>
export default {
    props:{
        detailParams:{
            type:Object,
            default(){
              return {}
            }
        }
    }
}
</script>
<style scoped>
   .param-info {
    padding: 20px 15px;
    font-size: 14px;
    border-bottom: 5px solid #f2f5f8;
  }

  .param-info table {
    width: 100%;
    border-collapse: collapse;
  }

  .param-info table tr {
    height: 42px;
  }

  .param-info table tr td {
    border-bottom: 1px solid rgba(100,100,100,.1);
  }

  .info-param-key {
    width: 95px;
  }

  .info-param {
    border-top: 1px solid rgba(0,0,0,.1);
  }
   .info-param .info-param-value {
      color: #eb4868
   }
  .info-img img {
    width: 100%;
  }
</style>