<template>
    <div id="homePage">
    <NavBar class="homeNav">
        <template v-slot:middle>购物街</template>
    </NavBar>
    <tabControl :titles="titles" class="tabControl" @tabClick="tabClikHome" ref="tabControl1" v-show="isTabFixed"></tabControl>
    <scroll class="wraper" ref="scroll" @pullingUpOpera="loadMore" @scroll="contentScroll" 
            :goodsdata="showGoodsList"  :pull-up-load="true" :probe-type="3"> 
        <HomeSwiper :banner="banner" @swiperImgLoag="swiperImgLoag"></HomeSwiper>
        <recommend :recommendData="recommend"></recommend>
        <featureView></featureView>
        <tabControl :titles="titles" class="tabControl" @tabClick="tabClikHome" ref="tabControl"></tabControl>
        <goodsList :goodsData="showGoodsList" class="goodslist"></goodsList>
    </scroll>
    <!-- <div class="wraper">
      <div class="content">
          <HomeSwiper :banner="banner"></HomeSwiper>
           <recommend :recommendData="recommend"></recommend>
          <featureView></featureView>
          <tabControl :titles="titles" class="tabControl" @tabClick="tabClikHome"></tabControl>
          <goodsList :goodsData="goodsData[ChoicedType].list" class="goodslist"></goodsList>
        </div>
    </div> -->

    <!-- <HomeSwiper :banner="banner"></HomeSwiper>
     <recommend :recommendData="recommend"></recommend>
    <featureView></featureView>
    <tabControl :titles="titles" class="tabControl" @tabClick="tabClikHome"></tabControl>
    <goodsList :goodsData="goodsData[ChoicedType].list" class="goodslist"></goodsList> -->
    
    <!--监听子组件内部的事件的两种方法-->
    <!-- 1.在子组件内部监听，然后通过$emit发送给父组件，父组件通过监听子组件发送的方法，实现监听子组件的目的 -->
     <!-- <back-top @backTop="backTop" class="back-top" v-show="showBackTop"> -->
    <!--2.@click直接监听组件的click事件即可 -->
      <!-- <back-top @click="backTop" class="back-top" v-show="showBackTop"> -->
      <back-top @backTop="backTop" class="back-top" v-show="showBackTop">
      <img src="@/assets/img/common/top.png" alt="">
    </back-top>
   </div>
   <!-- <div ref="ddd">hahaha</div> -->
</template>
<script>

import HomeSwiper from './childComps/HomeSwiper'
import recommend from './childComps/RecommendView'
import featureView from './childComps/FeatureView'


import NavBar from '@/components/common/navBar/NavBar.vue'
import tabControl from '@/components/content/tabControl/tabControl.vue'
import goodsList from '@/components/content/GoodsLsit/GoodsList.vue'
import scroll from '@/components/common/scroll/Scroll.vue'
import BackTop from '@/components/content/backTop/BackTop.vue'

import {getHomeMutlData,getHomeGoodsData} from '@/network/homeRequest.js'
import {NEW, POP, SELL, BACKTOP_DISTANCE} from "@/common/const.js"
import {debounce} from "@/common/utils.js"

// import BetterScroll from 'better-scroll'

// import Pullup from '@better-scroll/pull-up'
// BetterScroll.use(Pullup)
// import Swiper from '@/components/common/swiper/Swiper.vue'
// import SwiperItem from '@/components/common/swiper/SwiperItem.vue'
export default {
   name:'Home',
    data(){
        return{
            result:null,
            banner:[],
            recommend:null,
            titles:["流行","新款","经典"],
            goodsList:{
               pop:{page:0,list:[]},
               new:{page:0,list:[]},
               sell:{page:0,list:[]}
            },
            ChoicedType:'pop',
            isTabFixed: false,
            tabOffsetTop: 0,
            showBackTop: false,
            refresh:null,
            deactivedY:0,
        }
    },
    components:{
        NavBar,HomeSwiper,recommend,featureView,tabControl,goodsList,scroll,BackTop
    },
    created(){
        getHomeMutlData().then(res =>
        {

           this.result = res;
           this.banner =res.data.banner.list;
           this.recommend =res.data.recommend.list;
        });
        // 获取商品数据
        this.getGoodsData("pop");
        this.getGoodsData("new");
        this.getGoodsData("sell");
    },
    mounted(){
    //     this.bScroll = new BetterScroll('.wraper',{
    //         pullUpLoad:true,
    //         click:true,
    //         probeType:3
    //    });
    //    console.log(this.bScroll);
    //    this.bScroll.on('scroll',(position)=>{
    //     //   console.log(position)
    //    });
    //    this.bScroll.on('pullingUp',()=>{
    //        console.log('上拉加载封装')
    //        this.getGoodsData("pop");
    //        setTimeout(()=>{
    //         this.bScroll.finishPullUp();
    //        },2000)
           
    //    })
    //  将防抖函数保存给data
     this.refresh = debounce(()=>{
           this.$refs.scroll.refresh();
          },100);

      // 获取tabControl的offsetTop,此时获取到的offsetTop是图片未加载完成是的偏移高度，可以在子组件中设置监听事件，等图片加载完成后再获取相应的数据
      // console.log(this.$refs.tabControl.$el.offsetTop)
    },
    computed:{
        listenImgTimes(){
           return this.$store.state.imgLoadTimes;
        },
        showGoodsList() {
		    return this.goodsList[this.ChoicedType].list
      }
    },
    watch:{
        listenImgTimes:function(ov,nv){
         this.refresh();
        }
    },
    methods:{
      /**
      * 事件监听相关方法
     */
       tabClikHome(val)
       {
          switch(val)
          {
              case 0:
                this.ChoicedType ="pop";
                break;
              case 1:
              this.ChoicedType ="new";
               break;
              case 2:
              this.ChoicedType ="sell";
               break;
          }
          this.$refs.tabControl.currentIndex =  val;
          this.$refs.tabControl1.currentIndex =val;
       },

    /**
     * 网络请求相关方法
     *  */  
       getGoodsData(type){
             const pageNew = this.goodsList[type].page+1;
        getHomeGoodsData(type,pageNew).then(res=>{
               this.goodsList[type].list.push(...res.data.list)
               this.goodsList[type].page =pageNew;
               this.$refs.scroll.finishPullUp()
           })
           },
     /**
      * 
      *  */ 
     loadMore(){
      this.getGoodsData(this.ChoicedType);
     },
    contentScroll(position){
        // 1.决定tabFixed是否显示
        this.isTabFixed = position.y < -this.tabOffsetTop
        // 2.决定backTop是否显示
        this.showBackTop = position.y < -BACKTOP_DISTANCE
     },
     backTop(){
      this.$refs.scroll.scrollTo(0, 0, 300)
    },
    // 防抖动函数
    // debounce(func,delay){
    //   let timer =null;
    //   return function(...args){
    //    if(timer) clearTimeout(timer);
    //    timer = setTimeout(func,delay);
    //   } 
    //  }
    swiperImgLoag(){
     // 获取tabControl的offsetTop
     this.tabOffsetTop = this.$refs.tabControl.$el.offsetTop;
    },
  },
  deactivated(){
    this.deactivedY = this.$refs.scroll.getY();
  
    // let yy = this.$refs.scroll.scroll.y;
   },
  activated(){
    this.$refs.scroll.refresh();
    this.$refs.scroll.scrollTo(0,this.deactivedY,0);
  }
}
</script>
<style scoped>
    #homePage{
      padding-top:44px;
      height: 100vh;
      position: relative;
    } 
    .homeNav{
        background-color: var(--color-tint);
        color:#fff;
        position:fixed;
        left: 0;
        right: 0;
        top: 0; 
        z-index: 9;
    }
    .tabControl{
        position: sticky;
        top: 44px;
        background: #fff;
        z-index: 9;
    }
    .wraper{
      overflow: hidden;
      position: absolute;
      top: 44px;
      bottom: 49px;
      left: 0;
      right: 0;
    }
    .back-top {
    position: fixed;
    right: 10px;
    bottom: 50px;
  }
   /* .back-top img {
    width: 40px;
    height: 40px;
  } */
</style>