<template>
  <div id="nav">
    <tabBar></tabBar>
  </div>
  <!--路由显示的是home、category、shoppingcart和profile， -->
  <!-- 通过路由tabBaritem的click事件，在全局路由中this.$router.push() 相应路由实现在 <router-view/>显示对应的vue组件-->
    <router-view v-slot="{ Component }">
      <keep-alive include="Home">
        <component :is="Component" />
      </keep-alive>
    </router-view>
<!-- <router-view></router-view> -->
</template>
<script>
import tabBar from './components/common/tabBar/tabBar.vue'
export default {
  components:{tabBar}
}
</script>
<style>
@import "./assets/css/base.css";
</style>
